# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
build/
FRONTEND/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/